[Desktop Entry]
Name=Kinko
Comment=Protect your files
Keywords=backup;recovery;
Exec=main.py
Terminal=false
Type=Application
Icon=com.quexten.Kinko.svg
StartupNotify=true
Categories=GNOME;GTK;Backup;